@reference "./styles.css";

/* Vertical by default */
.scroll-progress-bar.vertical {
  @apply fixed left-4 top-1/2 transform -translate-y-1/2 h-4/5 w-[2px] bg-foreground/40 z-20;
}

.scroll-progress-bar.horizontal {
  @apply fixed top-0 left-0 h-[3px] w-full bg-foreground/40 z-20;
}

.scroll-progress-fill {
  @apply h-0 w-[2px] bg-accent origin-top;
}

.scroll-progress-bar.horizontal .scroll-progress-fill {
  @apply h-[3px] w-0 bg-accent origin-left;
}
