@reference "../../../app/globals.css";

.thinking-section {
  @apply container mx-auto relative px-6 pt-20 pb-24 bg-background;
  @apply md:pt-24 md:pb-28;
  @apply lg:px-8;
}

.thinking-content {
  @apply w-full max-w-2xl mx-auto text-center;
  @apply lg:max-w-3xl;
}

.thinking-heading {
  @apply text-xl font-medium text-primary font-sans leading-relaxed mb-2;
  @apply md:text-2xl;
  @apply 2xl:text-4xl;
}

.thinking-intro {
  @apply text-base text-foreground font-sans leading-relaxed mb-10;
  @apply md:text-lg;
  @apply 2xl:text-xl;
}

.thinking-steps {
  @apply relative flex flex-col items-center gap-10 mt-5 text-start;
}

.thinking-step {
  @apply relative flex flex-col gap-4 items-start text-start w-full max-w-2xl pl-2;
  @apply md:flex-row md:gap-5 md:pl-8;
}

.thinking-step-number {
  @apply text-sm font-medium text-secondary font-sans leading-none p-2 rounded-full mt-px;
}

.thinking-step-title {
  @apply text-base font-medium text-foreground font-sans mb-2;
  @apply md:text-lg;
  @apply 2xl:text-2xl;
}

.thinking-step-text {
  @apply text-base text-foreground/80 font-sans leading-relaxed mb-2;
}
